<navbar></navbar>
<sidenav></sidenav>

<div class="divContainer" layout="column" layout-align="center center" layout-wrap>
    <div class="container main md-whiteframe-z2" layout-fill>


        <div layout="row" layout-align="center center" layout-wrap>
            <md-input-container>
                <label>KEY</label>
                <input ng-model="input.elementKey">
            </md-input-container>

            <md-checkbox ng-model="input.withWeight" aria-label="Checkbox 1">
                Ponderate ?
            </md-checkbox>
            <md-checkbox ng-model="input.withGender" aria-label="Checkbox 1">
                Gender ?
            </md-checkbox>

            <div layout="row" layout-align="center center" layout-wrap>


                <div ng-repeat="obj in input.elementList" flex="100">

                    <div layout="row" layout-align="center center" layout-wrap>
                        {{input.elementList.indexOf(obj)}}.
                        <md-input-container>
                            <label>Element Name</label>
                            <input ng-model="obj.tag">
                        </md-input-container>


                        <span ng-if="input.withGender" ng-init="obj.labelMaleFr=obj.defaultLabelFr; obj.labelMaleEn=obj.defaultLabelEn;">
                <div layout="row" layout-align="center center" layout-wrap>
              <md-input-container>
                <label>Male FR</label>
                <input ng-model="obj.labelMaleFr">
              </md-input-container>
              <md-input-container>
                <label>Female FR</label>
                <input ng-model="obj.labelFemaleFr">
              </md-input-container>
              <md-input-container>
                <label>Male EN</label>
                <input ng-model="obj.labelMaleEn">
              </md-input-container>
              <md-input-container>
                <label>Female EN</label>
                <input ng-model="obj.labelFemaleEn">
              </md-input-container>
                </div>
            </span>

                        <span ng-if="!input.withGender" ng-init="obj.defaultLabelFr=obj.labelMaleFr; obj.defaultLabelEn=obj.labelMaleEn;">
                
                <div layout="row" layout-align="center center" layout-wrap>
              <md-input-container>
                <label>Label FR</label>
                <input ng-model="obj.defaultLabelFr">
              </md-input-container>
              <md-input-container>
                <label>Label EN</label>
                <input ng-model="obj.defaultLabelEn">
              </md-input-container>
                </div>
            </span>

                        <span ng-if="input.withWeight">
              <md-input-container>
                <label>Weight</label>
                <input ng-model="obj.weight" ng-init="obj.weight=input.defaultWeight">
              </md-input-container>
            </span>
                    </div>
                </div>


            </div>

            <div flex="100">
                <div layout="row" layout-padding>
                    <div flex>
                        <md-button ng-click="input.createObject()" class="md-raised md-primary">Add new element</md-button>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>
        <br/>My object
        <br/>
        <br/> {{input.formatElementListToPrint()}}
        <br/>
        <br/>
        <br/>TradFR
        <br/>
        <br/> {{input.frTranslationObject}}
        <br/>
        <br/>
        <br/>TradEn
        <br/>
        <br/> {{input.enTranslationObject}}
    </div>
</div>