
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>FONUG</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <span><label>
                <input type="radio" ng-model="navbar.language" value="fr" ng-change='navbar.setLanguage("fr")'> FRANCAIS
            </label>
            <label>
                <input type="radio" ng-model="navbar.language" value="en" ng-change='navbar.setLanguage("en")'> ENGLISH
            </label></span>

        <md-icon hide-gt-md ng-click="sidenav.toggleLeft()" class="glyphicon glyphicon-menu-hamburger" ng-style="{color: white, 'font-size': '25px', height: '25px'}"></md-icon>
        
        </div>
    </md-toolbar>
