<navbar></navbar>
<sidenav>
</sidenav>
<div class="divContainer" layout="column" layout-align="center center" layout-wrap>
    <div class="container main md-whiteframe-z2">

        <div class="textContainer">
            <p ng-bind-html="'VIEWS.MAIN.TEXT2' | translate"></p>
            <p ng-bind-html="'VIEWS.MAIN.TEXT1' | translate"></p>
        </div>

        <section layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-wrap>
            <md-button class="{{main.btnRandClass}}" ng-click="main.changeSelectedMode('rand')">{{'VIEWS.MAIN.RANDOM' | translate}}</md-button>
            <md-button class="{{main.btnPersoClass}}" ng-click="main.changeSelectedMode('notRandom')">{{'VIEWS.MAIN.MYSELF' | translate}}</md-button>
        </section>


        <div layout="row" layout-sm="column" layout-xs="column" ng-if="main.notRandom" layout-align="center center" class="textContainer" layout-wrap>

            <!-- GENDER SELECT -->
            <div flex>
                <label class="control-label">{{'VIEWS.MAIN.GENDER' | translate}}</label>
                <md-input-container style="margin-right: 10px;">

                    <select ng-model="main.currentCharacter.gender" ng-change="main.updateSelectListsAccordingToGender()" class="form-control">
                        <option value="RANDOM">{{'GENERATOR.GENERAL.RANDOM' | translate}}</option>
                        <option ng-repeat="gender in main.genders" value="{{gender}}">
                            {{gender | translate}}
                        </option>
                    </select>
                </md-input-container>
            </div>

            <!-- AGE SELECT -->
            <div flex>
                <label class="control-label">{{'VIEWS.MAIN.AGE' | translate}}</label>
                <md-input-container style="margin-right: 10px;">
                    <select ng-model="main.currentCharacter.age" class="form-control">
                        <option value="RANDOM">{{'GENERATOR.GENERAL.RANDOM' | translate}}</option>
                        <option ng-repeat="age in main.ages" value="{{age}}">
                            {{age | translate}}
                        </option>
                    </select>
                </md-input-container>
            </div>

            <!-- CIVILIZATION SELECT -->
            <div flex>
                <label class="control-label">{{'VIEWS.MAIN.CIVILIZATION' | translate }}</label>
                <md-input-container style="margin-right: 10px;">

                    <select ng-model="main.currentCharacter.civilization " class="form-control">
                        <option value="RANDOM">{{'GENERATOR.GENERAL.RANDOM' | translate}}</option>
                        <option ng-repeat="civilization in main.civilizations | orderBy:'name'" value="{{civilization}}">
                            {{civilization.name | translate}}
                        </option>
                    </select>
                </md-input-container>

            </div>
        </div>

        <div layout="row" layout-padding>
            <div flex>
                <md-button ng-disabled="main.btnGenerateIsDisabled" ng-click="main.generate()" class="md-raised md-primary">{{'VIEWS.MAIN.GENERATEBUTTON' | translate}}</md-button>
            </div>
        </div>
    </div>
</div>