<navbar></navbar>
<sidenav></sidenav>

<div class="divContainer" layout="column" layout-align="center center" layout-wrap>
    
    <!-- Save to pdf button -->
    <div hide-xs hide-sm class="fixedmarker md-whiteframe-z2">
        <md-button ng-click="character.createPDF()" class="md-raised md-primary">
            {{'VIEWS.GENERATOR.SAVE' | translate}}
        </md-button>
    </div>
    <!-- ##### -->
    
    <!-- Character div, will be saved to pdf -->
    <div id="toSave" class="container main md-whiteframe-z2" md-theme="{{character.currentCharacter.alignment.mdTheme}}" layout-fill>
        
        <!-- MAIN -->
        <main character="character.currentCharacter"></main>
        <!-- ##### -->

        <!-- PHYSICAL -->
        <physical ng-if="character.generatePhysical" character="character.currentCharacter"></physical>
        <!-- ##### -->

        <!-- PERSONALITE -->
        <personality  ng-if="character.generatePersonality" character="character.currentCharacter"></personality>
        <!-- ##### -->

        <!-- SOCIAL -->
        <social  ng-if="character.generateSocial" character="character.currentCharacter"></social>
        <!-- ##### -->

        <!-- APPARENCE -->
        <appearance  ng-if="character.generateAppearance" character="character.currentCharacter"></appearance>
        <!-- ##### -->
        
        <!-- Generate an other character button -->
        <div layout="row" layout-padding>
            <div flex>
                <md-button ng-click="sidenav.goToMain()" class="md-raised md-primary">{{'VIEWS.MAIN.GENERATEOTHER' | translate}}</md-button>
            </div>
        </div>
        <!-- ##### -->
        
    </div>
    <!-- ##### -->
    
</div>