<navbar></navbar>
<sidenav></sidenav>




<div class="divContainer" layout="column" layout-align="center center" layout-wrap>
    <div hide-xs hide-sm class="fixedmarker md-whiteframe-z2">
        <md-button ng-click="character.createPDF()" class="md-raised md-primary">
            {{'VIEWS.GENERATOR.SAVE' | translate}}
        </md-button>
    </div>
    <div id="toSave" class="container main md-whiteframe-z2" md-theme="{{character.currentCharacter.alignment.mdTheme}}" layout-fill>

        <!-- MAIN -->
        <md-toolbar>
            <h1 class="md-toolbar-tools"> {{character.currentCharacter.name}} - {{character.currentCharacter.civilization.name | translate}} {{character.currentCharacter.charClass | translate}}</h1>
        </md-toolbar>
        <!--<md-content style="height: 650px;">-->
        <div layout="row" layout-xs="column" layout-align="center center" layout-wrap>
            <div flex="30" class="logoContainer">
                <div ng-if="!character.isToSave">
                    <un-svg class="logo {{character.currentCharacter.alignment.cssTheme}}" svg-src="../assets/logos/{{character.currentCharacter.civilization.logo}}.svg"></un-svg>
                </div>
                <div ng-if="character.isToSave">
                    {{'VIEWS.GENERATOR.FONUG_LOGO' | translate}}
                    <a href="http://www.fonug.net">www.fonug.net</a>
                    <img src="../../assets/images/dice-twenty-faces-twenty.png" width="100px"/>
                </div>
            </div>
            <div flex="70">

                <div layout="column" class="right">


                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.CHARISMA' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="character.getLabelFromElementObject(character.currentCharacter.charisma) | translate" theme="character.currentCharacter.alignment.cssTheme" percentage="character.currentCharacter.charisma.percentage">
                            </progressbarfonug>
                        </div>
                    </div>


                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.BEAUTY' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="character.getLabelFromElementObject(character.currentCharacter.beauty) | translate" theme="character.currentCharacter.alignment.cssTheme" percentage="character.currentCharacter.beauty.percentage">
                            </progressbarfonug>
                        </div>
                    </div>


                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.INTELLECT' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="character.getLabelFromElementObject(character.currentCharacter.intellect) | translate" theme="character.currentCharacter.alignment.cssTheme" percentage="character.currentCharacter.intellect.percentage">
                            </progressbarfonug>
                        </div>
                    </div>


                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.PERCEPTION' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="character.getLabelFromElementObject(character.currentCharacter.perception) | translate" theme="character.currentCharacter.alignment.cssTheme" percentage="character.currentCharacter.perception.percentage">
                            </progressbarfonug>
                        </div>
                    </div>


                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.FIGHT_SKILLS' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="character.getLabelFromElementObject(character.currentCharacter.fightSkills) | translate" theme="character.currentCharacter.alignment.cssTheme" percentage="character.currentCharacter.fightSkills.percentage">
                            </progressbarfonug>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.AGE' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.age | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.ALIGNMENT' | translate}}:</h4>
                <span class="inline label {{character.currentCharacter.alignment.cssTheme}}">{{character.currentCharacter.alignment.name | translate}}</span>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.GENDER' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.gender | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.CIVILIZATION' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.civilization.name | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.CLASS' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.charClass | translate}}</p>
            </div>
            <div flex="100">
                <h4 class="inline">{{'VIEWS.GENERATOR.PUNCHLINE' | translate}}:</h4>
                <p class="inline">“ {{character.currentCharacter.punchline | translate}} ”</p>
            </div>
        </div>
        <!-- ##### -->


        <!-- PHYSICAL -->
        <md-toolbar class="title">
            <h1 class="md-toolbar-tools">{{'VIEWS.GENERATOR.PHYSICAL' | translate}}</h1>
        </md-toolbar>


        <div layout="row" layout-xs="column" layout-align="center center" layout-wrap>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.CORPULENCE' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.corpulence | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.FACE_SHAPE' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.faceShape | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.SKIN_TONE' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.skinTone | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.EYES' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.eyes | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.MOUTH' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.mouth | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.NOSE' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.nose | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.HAIR' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.hair | translate}}</p>
            </div>
            <div flex="100">
                <h4 class="inline">{{'VIEWS.GENERATOR.SPECIAL_SIGN' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.specialSign | translate}}</p>
            </div>
        </div>
        <!-- ##### -->

        <!-- PERSONALITE -->
        <md-toolbar class="title">
            <h1 class="md-toolbar-tools">{{'VIEWS.GENERATOR.PERSONNALITY' | translate}}</h1>
        </md-toolbar>


        <div layout="row" layout-xs="column" layout-align="center center" layout-wrap>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.GOAL' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.goal | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.MOTIVATION' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.motivation | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.DEFECT' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.defect | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.QUALITY' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.quality | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.PHOBIA' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.phobia | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.TEMPER' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.temper | translate}}</p>
            </div>
        </div>
        <!-- ##### -->


        <!-- SOCIAL -->
        <social character="character.currentCharacter"></social>
        <!-- ##### -->

        <!-- APPARENCE -->
        <md-toolbar class="title">
            <h1 class="md-toolbar-tools">{{'VIEWS.GENERATOR.APPEARANCE' | translate}}</h1>
        </md-toolbar>


        <div layout="row" layout-xs="column" layout-align="center center" layout-wrap>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.COMBAT_STYLE' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.combatStyle | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.CLOTHES' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.clothes | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.ACCESSORIES' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.accessories | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.CLOTHING_STYLE' | translate}}:</h4>
                <p class="inline">{{character.currentCharacter.clothingStyle | translate}}, {{character.currentCharacter.clothingCountry | translate}}</p>
            </div>
        </div>
        <!-- ##### -->


        <div layout="row" layout-padding>
            <div flex>
                <md-button ng-click="sidenav.goToMain()" class="md-raised md-primary">{{'VIEWS.MAIN.GENERATEOTHER' | translate}}</md-button>
            </div>
        </div>
        <!--</md-content>-->
    </div>
</div>