        <md-toolbar>
            <h1 class="md-toolbar-tools"> {{main.character.name}} - {{main.character.civilization.name | translate}} {{main.character.charClass | translate}}</h1>
        </md-toolbar>

        <div layout="row" layout-xs="column" layout-align="center center" layout-wrap>
            <div flex="30" class="logoContainer">
                <div ng-if="!main.isToSave.value">
                    <un-svg class="logo {{main.character.alignment.cssTheme}}" svg-src="../assets/logos/{{main.character.civilization.logo}}.svg"></un-svg>
                </div>
                <div ng-if="main.isToSave.value">
                    {{'VIEWS.GENERATOR.FONUG_LOGO' | translate}}
                    <a href="http://www.fonug.net">www.fonug.net</a>
                    <img src="../../assets/images/dice-twenty-faces-twenty.png" width="100px"/>
                </div>
            </div>
            <div flex="70">

                <div layout="column" class="right">

                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.CHARISMA' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="main.charismaLabel" theme="main.character.alignment.cssTheme" percentage="main.character.charisma.percentage">
                            </progressbarfonug>
                        </div>
                    </div>


                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.BEAUTY' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="main.beautyLabel" theme="main.character.alignment.cssTheme" percentage="main.character.beauty.percentage">
                            </progressbarfonug>
                        </div>
                    </div>


                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.INTELLECT' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="main.intellectLabel" theme="main.character.alignment.cssTheme" percentage="main.character.intellect.percentage">
                            </progressbarfonug>
                        </div>
                    </div>


                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.PERCEPTION' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="main.perceptionLabel" theme="main.character.alignment.cssTheme" percentage="main.character.perception.percentage">
                            </progressbarfonug>
                        </div>
                    </div>


                    <div layout="row" layout-sm="column" layout-xs="column">

                        <div flex="15">
                            <h4 class="statLabel">{{'VIEWS.GENERATOR.FIGHT_SKILLS' | translate}}:</h4>
                        </div>

                        <div flex="85">
                            <progressbarfonug label="main.fightSkillsLabel" theme="main.character.alignment.cssTheme" percentage="main.character.fightSkills.percentage">
                            </progressbarfonug>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.AGE' | translate}}:</h4>
                <p class="inline">{{main.character.age | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.ALIGNMENT' | translate}}:</h4>
                <span class="inline label {{main.character.alignment.cssTheme}}">{{main.character.alignment.name | translate}}</span>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.GENDER' | translate}}:</h4>
                <p class="inline">{{main.character.gender | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.CIVILIZATION' | translate}}:</h4>
                <p class="inline">{{main.character.civilization.name | translate}}</p>
            </div>
            <div flex="50">
                <h4 class="inline">{{'VIEWS.GENERATOR.CLASS' | translate}}:</h4>
                <p class="inline">{{main.character.charClass | translate}}</p>
            </div>
            <div flex="100">
                <h4 class="inline">{{'VIEWS.GENERATOR.PUNCHLINE' | translate}}:</h4>
                <p class="inline">“ {{main.character.punchline | translate}} ”</p>
            </div>
        </div>
