<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" style="float:left;overflow: hidden; height:93%;">

    <md-content layout-padding ng-controller="SidenavController">

        <md-icon hide-gt-md ng-click="sidenav.close()" class="glyphicon glyphicon-remove-circle" ng-style="{color: white, 'font-size': '25px', height: '25px', float:'right'}"></md-icon>
        <md-list-item class="md-2-line" ng-click="sidenav.goToMain()">
            <div class="md-list-item-text">
                <h3>{{'VIEWS.MAIN.GENERATEBUTTON' | translate}}</h3>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-2-line" ng-click="sidenav.goToAbout()">
            <div class="md-list-item-text">
                <h3>{{'VIEWS.SIDENAV.ABOUT' | translate}}</h3>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-2-line" ng-click="sidenav.goToContact()">
            <div class="md-list-item-text">
                <h3>{{'VIEWS.SIDENAV.CONTACT' | translate}}</h3>
            </div>
        </md-list-item>
                <md-divider></md-divider>
        <md-list-item class="md-2-line" ng-click="">
            <div class="md-list-item-text">
                
        <h6>FONUG, Copyright 2015-2016 Sébastien Dez
FONUG application is distributed under the terms of the GNU GPL</h6>
            </div>
        </md-list-item>
        
    </md-content>
</md-sidenav>